<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/onion.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-9">
                    <h5>Onion</h5>
                    <p>Onion, Allium cepa, is an herbaceous biennial in the family Liliaceae grown for its edible bulb. The stem of the plant is a flattened disc at the base and the tubular leaves form a pseudostem where their sheaths overlap. ..</p>
                    <h2>
                        <span class="badge badge-secondary">Available</span>
                        <span class="btn btn-secondary active">Add to cart</span>
                    </h2>
                </div>
               
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/dfault.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-9">
                    <h5>Onion</h5>
                    <p>Onion, Allium cepa, is an herbaceous biennial in the family Liliaceae grown for its edible bulb. The stem of the plant is a flattened disc at the base and the tubular leaves form a pseudostem where their sheaths overlap. ..</p>
                    <h2>
                        <span class="badge badge-secondary">Available</span>
                        <span class="btn btn-secondary active">Add to cart</span>
                    </h2>
                </div>
               
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/dfault.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-9">
                    <h5>Onion</h5>
                    <p>Onion, Allium cepa, is an herbaceous biennial in the family Liliaceae grown for its edible bulb. The stem of the plant is a flattened disc at the base and the tubular leaves form a pseudostem where their sheaths overlap. ..</p>
                    <h2>
                        <span class="badge badge-secondary">Available</span>
                        <span class="btn btn-secondary active">Add to cart</span>
                    </h2>
                </div>
               
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/dfault.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-9">
                    <h5>Onion</h5>
                    <p>Onion, Allium cepa, is an herbaceous biennial in the family Liliaceae grown for its edible bulb. The stem of the plant is a flattened disc at the base and the tubular leaves form a pseudostem where their sheaths overlap. ..</p>
                    <h2>
                        <span class="badge badge-secondary">Available</span>
                        <span class="btn btn-secondary active">Add to cart</span>
                    </h2>
                </div>
               
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/dfault.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-9">
                    <h5>Onion</h5>
                    <p>Onion, Allium cepa, is an herbaceous biennial in the family Liliaceae grown for its edible bulb. The stem of the plant is a flattened disc at the base and the tubular leaves form a pseudostem where their sheaths overlap. ..</p>
                    <h2>
                        <span class="badge badge-secondary">Available</span>
                        <span class="btn btn-secondary active">Add to cart</span>
                    </h2>
                </div>
               
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/dfault.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-9">
                    <h5>Onion</h5>
                    <p>Onion, Allium cepa, is an herbaceous biennial in the family Liliaceae grown for its edible bulb. The stem of the plant is a flattened disc at the base and the tubular leaves form a pseudostem where their sheaths overlap. ..</p>
                    <h2>
                        <span class="badge badge-secondary">Available</span>
                        <span class="btn btn-secondary active">Add to cart</span>
                    </h2>
                </div>
               
            </div>
        </div>
    </div>
</div>
